@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --dark-blue: #232435;
    --darker-blue: #181F2B;
    --dark-pink: #D61E3C;
    --white: #FFFFFF;
    --black: #000000;
    --light: #E0E0E0;
    --dark: #212121;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--light);
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: var(--darker-blue);
    cursor: pointer !important
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-blue);
    color: var(--light);
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
}

img {
    width: 100%;
    height: auto
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 250ms ease;
}

a:hover {
    color: var(--dark-pink)
}

p {
    font-size: 16px;
    color: var(--light);
    line-height: 1.2
}

.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

header {
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    top: 0;
    left: 0;
    background: var(--dark-blue);
    padding: 0 10%;
}

header.fixed {
    position: fixed;
    z-index: 100;
    top: -70px;
    left: 0;
    right: 0;
    background: var(--darker-blue);
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px -1px 5px 0px var(--black);
}

header .logo {
    display: block;
    width: 170px;
    height: 60px;
    float: left;
}

header .logo a {
    display: inline-block;
}

header .logo img {
    width: 60px;
    height: 60px;
    padding: 5px;
    float: left;
}

header .logo span {
    display: inline-block;
    padding-top: 22px;
}

header .nav-bar {
    display: block;
    float: right;
    overflow: hidden;
    float: right;
}

header .nav-bar ul li {
    display: inline-block;
    margin: 0 10px;
    padding-top: 20px;
}

header .nav-bar ul li a {
    color: var(--light);
    transition: all 250ms ease;
}

header .nav-bar ul li a.active,
header .nav-bar ul li a:hover {
    color: var(--dark-pink)
}

.home {
    background-image: url("../images/bg-curvy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-top: 170px;
}

.home .logo {
    display: block;
    width: 100%;
    text-align: center;

}

.home .logo span {
    font-size: 45px;
    font-weight: 700;
}

.home .logo img {
    display: block;
    width: 30%;
    max-width: 200px;
    margin: 0 auto;
}

.home .intro {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
}

.home .get-started {
    text-align: center;
    padding: 20px 0px 50px 0px;
}

.home .get-started button {
    background: var(--light);
    padding: 10px 35px;
    border: 1px solid var(--light);
    color: var(--black);
    text-transform: uppercase;
    font-weight: 700;
    font-family: inherit;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: all 250ms cubic-bezier(0.79, 0.29, 0, 0.88)
}

.home .get-started button:hover {
    background: var(--darker-blue);
    color: var(--white);
    border: 1px solid var(--white);
}

.event,
.why,
.benefits,
.future-events,
.code-of-conduct {
    background: var(--darker-blue);
    width: 100%;
    padding: 10px 15%;
    position: relative;
    text-align: center;
}

.event .background {
    display: inline-block;
    position: relative;
    text-align: center;
    height: 350px;
}

.event .background img {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.event>.title {
    display: block;
    width: 60%;
    padding-top: 25px;
    text-align: center;
    position: absolute;
    top: 220px;
    left: 20%;
}

.event>.title h1 {
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}

.event>.title p {
    color: var(--dark);
    font-size: 25px;
    font-weight: 700;
}

.event .content {
    text-align: center;
}

.event .content .title,
.why>.title h1,
.benefits>.title h1,
.future-events>.title h1,
.code-of-conduct>.title h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin-top: 70px;
}

.event .content>p,
.why .title p,
.benefits>.title p,
.future-events>.title p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.event .content .learn {
    display: inline-block;
    background: var(--light);
    width: 40%;
    z-index: 100;
    margin-bottom: 25px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 2px;
    padding: 30px
}

.event .content .learn:last-child {
    width: 84%;
}

.event .content .learn h1 {
    font-size: 25px;
    padding-top: 20px;
    color: var(--dark-blue);
    font-weight: 700;
    text-transform: uppercase
}

.event .content .learn p {
    font-size: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--dark);
}

.why .reasons .owl-carousel {
    width: 100%;
    overflow: hidden
}

.why .reasons .owl-carousel .owl-stage-outer {
    overflow: visible;
    position: relative;
}

.why .reasons .owl-carousel .owl-nav {
    display: none;
}

.why .reasons .owl-carousel .owl-dots {
    display: block;
    height: 15px;
    margin-top: 25px;
    text-align: center;
}

.why .reasons .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 7px;
    margin-left: 7px;
    background: var(--light);
}

.why .reasons .owl-carousel .owl-dots .owl-dot.active {
    background: var(--black);
    animation: _width 200ms ease forwards running;
}

@keyframes _width {
    0% {
        width: 15px
    }

    100% {
        width: 35px
    }
}

.why .reasons .reason {
    background: var(--light);
    color: var(--dark);
    border-radius: 2px;
    padding: 25px;
    text-align: center;
    cursor: grab;
}

.why .reasons .reason h3 {
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0;
}

.why .reasons .reason p {
    font-size: 14px;
    color: var(--dark);
}


.benefits .items .item {
    background: var(--light);
    width: 48%;
    float: left;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    padding-top: 25px;
}

.benefits .items .item:first-child {
    margin-right: 2%;
}

.benefits .items .item:nth-child(2) {
    margin-left: 2%;
}

.benefits .items .item .icon {
    width: 25%;
    float: left;
}

.benefits .items .item .content a {
    color: var(--dark);
    text-decoration: underline;
}

.benefits .items .item .content a:hover {
    color: var(--dark-pink);
}

.benefits .items .item .content p {
    color: var(--dark);
    margin-top: 15px
}

.benefits .benefits-page {
    display: inline-block;
    width: 100%;
    margin-top: 25px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.code-of-conduct>.title p {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 50px;
}

.code-of-conduct .content .title h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin-top: 70px;
}

.code-of-conduct .content .title p {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.code-of-conduct .code {
    background: var(--light);
    color: var(--dark);
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    cursor: grab;
}

.code-of-conduct .code h4 {
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 15px;
}

.code-of-conduct .code p {
    font-size: 14px;
    color: var(--dark);
}

.code-of-conduct .owl-carousel {
    width: 100%;
    overflow: hidden
}

.code-of-conduct .owl-carousel .owl-stage-outer {
    overflow: visible;
    position: relative;
}

.code-of-conduct .owl-carousel .owl-nav {
    display: none;
}

.code-of-conduct .owl-carousel .owl-dots {
    display: block;
    height: 15px;
    margin-top: 25px;
    text-align: center;
}

.code-of-conduct .owl-carousel .owl-dots .owl-dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-right: 7px;
    margin-left: 7px;
    background: var(--light);
}

.code-of-conduct .owl-carousel .owl-dots .owl-dot.active {
    background: var(--black);
}

.code-of-conduct .content>p {
    width: 100%;
    text-align: justify;
    font-size: 16px;
    margin: 50px 0;
}

footer {
    display: block;
    width: 100%;
    padding: 50px;
    overflow: hidden;
    text-align: center;
    background: var(--light);
}

footer .logo {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    overflow: hidden;
}

footer .logo img {
    height: 100%
}

footer h3 {
    display: block;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 35px 0;
    color: var(--darker-blue);
}

footer ul {
    margin: 20px 0;
}

footer ul li {
    display: inline-block;
    margin: 0 10px;
}

footer ul li a {
    display: block;
    width: 38px;
    height: 38px;
    font-size: 24px;
    color: var(--darker-blue);
    line-height: 1.7;
    transition: color 150ms ease-out;
}

footer ul li a:hover {
    color: var(--dark-pink)
}

footer p {
    color: var(--darker-blue)
}

footer p .year,
footer.footer p i.fa {
    color: var(--dark-blue);
    font-weight: 700;
}

.not-found {
    display: block;
    position: relative;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0 50px 0
}

.not-found .background {
    display: inline-block;
    width: 40%;
    min-width: 200px;
    max-width: 500px;
    padding-top: 40px;
}

.not-found .content h1 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px 0px;
}

.not-found .content a {
    display: inline-block;
    padding: 18px 35px;
    background: #191D2D;
    border-radius: 40px;
    transition: all 250ms ease;
}

.not-found .content a:hover {
    background: #E0E0E0
}

@media (min-width: 1500px) {

    .home {
        padding-top: 350px;
        padding-bottom: 170px;
    }

    .home .logo span {
        font-size: 60px;
    }

    .home .intro p {
        font-size: 30px;
    }

    .home .get-started button {
        padding: 20px 50px;
        font-size: 20px;
        border-radius: 40px
    }

    .event>.title p {
        font-size: 35px;
    }

    .event .content .title,
    .why>.title h1,
    .benefits>.title h1,
    .future-events>.title h1,
    .code-of-conduct>.title h1 {
        font-size: 60px;
    }

    .event .content>p,
    .why .title p,
    .benefits>.title p,
    .future-events>.title p {
        font-size: 30px;

    }

    .event .content .learn:last-child {
        width: 84%;
    }


    .event .content .learn h1 {
        font-size: 35px;
    }

    .event .content .learn p {
        font-size: 25px;
    }


    .why .reasons .reason {
        height: 290px;
    }

    .why .reasons .reason h3 {
        font-size: 30px;
    }

    .why .reasons .reason p {
        font-size: 24px;
    }

    .benefits .items .item:last-child {
        margin-left: 0%;
    }

    .benefits .items .item .content a {
        display: block;
        padding-top: 40px;
        font-size: 30px;
    }

    .benefits .items .item .content p {
        margin-top: 25px;
        font-size: 20px
    }

    .code-of-conduct>.title p {
        font-size: 26px;
    }

    .code-of-conduct .content .title h2 {
        font-size: 40px;
    }

    .code-of-conduct .content .title p {
        font-size: 30px;

    }

    .code-of-conduct .code {
        width: 80%;
        margin: 0 auto
    }

    .code-of-conduct .code h4 {
        font-size: 30px;
    }

    .code-of-conduct .code p {
        font-size: 25px;
    }

    .code-of-conduct .content>p {
        width: 80%;
        font-size: 26px;
        margin: 50px auto;
    }

    footer p {
        font-size: 21px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .home {
        padding-bottom: 80px;
    }

    .home .logo span {
        font-size: 30px;
    }

    .home .intro p {
        font-size: 15px;
    }

    .home .get-started {
        padding: 20px 0px 0px 0px;
    }

    .home .get-started button {
        padding: 10px 30px;
        font-size: 13px;
        border-radius: 20px;
    }

    .event .background {
        height: 250px;
    }

    .event>.title h1 {
        font-size: 30px;
    }

    .event>.title {
        top: 150px;
    }

    .event>.title p {
        font-size: 20px;
    }

    .event .content .title,
    .why>.title h1,
    .benefits>.title h1,
    .future-events>.title h1,
    .code-of-conduct>.title h1 {
        font-size: 35px;
    }

    .code-of-conduct>.title p {
        font-size: 14px;
    }

    .event .content .learn h1 {
        font-size: 20px;
        padding-top: 10px;
    }

    .event .content .learn p {
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .event .content .learn,
    .event .content .learn:last-child {
        padding: 15px;
        width: 100%;
    }

    .benefits .items .item .icon {
        width: 15%;
    }

    .benefits .items .item {
        width: 100%;
        float: none;
        padding: 25px 30px;
        margin: 0px 0%;
        margin-bottom: 25px;
    }

    .benefits .items .item .icon {
        display: inline-block;
        float: none;
    }

    .benefits .items .item:first-child {
        margin-right: 0%;
        margin-left: 0%;
        width: 100%;
    }

    .benefits .items .item:nth-child(2) {
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

}

@media (max-width: 767px) {

    header {
        height: 40px;
    }

    header .logo a {
        display: none;
    }

    header .logo {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        float: none;
        padding: 5px;
    }

    header .logo img {
        padding: 0px;
        width: 100%;
        height: 100%;
        float: none;
    }

    header .nav-bar {
        top: -100vh;
        opacity: 0;
        display: block;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        background: var(--darker-blue);
        position: absolute;
        left: 0;
        text-align: center;
        z-index: -5;
    }

    header .nav-bar.open {
        animation: open-nav-bar 450ms ease forwards running
    }

    @keyframes open-nav-bar {
        0% {
            top: -100vh;
            opacity: 0;
        }

        100% {
            top: 0vh;
            opacity: 1;
        }
    }

    header .nav-bar.close {
        animation: close-nav-bar 450ms ease forwards running
    }

    @keyframes close-nav-bar {
        0% {
            top: 0vh;
            opacity: 1;
        }

        100% {
            top: -100vh;
            opacity: 0;
        }
    }

    header .nav-bar ul {
        padding-top: 80px
    }

    header .nav-bar ul li {
        display: block;
        margin: 0;
        margin-top: 30px;
        padding: 0;
    }

    header .nav-bar ul li a {
        font-size: 30px;
    }

    .mobile-bar {
        position: fixed;
        top: 0px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: #ffffff00;
        z-index: 9;
        display: block;
    }

    .mobile-bar.open {
        background-color: var(--white);
        animation: open-mobile-bar 250ms ease forwards running
    }

    @keyframes open-mobile-bar {
        0% {
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
        }

        100% {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        }
    }

    .mobile-bar.close {
        background-color: var(--text-color);
        animation: close-mobile-bar 250ms ease forwards running
    }

    @keyframes close-mobile-bar {
        0% {
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
        }

        100% {
            box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
        }
    }

    .mobile-bar .menu-button {
        position: absolute;
        width: 24px;
        height: 24px;
        top: 8px;
        right: 12px;
        cursor: pointer;
        overflow: hidden;

    }

    .mobile-bar .menu-button span {
        display: block;
        width: 24px;
        height: 4px;
        background: var(--light);
        margin: 3px 0;
        border-radius: 3px;
    }

    .mobile-bar .menu-button.close span {
        animation: close-middle-bar 250ms ease forwards;
    }

    @keyframes close-middle-bar {
        100% {
            opacity: 0;
        }
    }

    .mobile-bar .menu-button.close span:first-child {
        opacity: 1;
        animation: close-top-bar 250ms ease forwards;
    }

    @keyframes close-top-bar {
        100% {
            transform: rotate(45deg) translateX(5px) translateY(5px);
        }
    }

    .mobile-bar .menu-button.close span:last-child {
        opacity: 1;
        animation: close-bottom-bar 250ms ease forwards;
    }

    @keyframes close-bottom-bar {
        100% {
            transform: rotate(-45deg) translateX(5px) translateY(-5px);
        }
    }


    .mobile-bar .menu-button.open span {
        animation: open-middle-bar 250ms ease forwards running;
    }

    @keyframes open-middle-bar {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .mobile-bar .menu-button.open span:first-child {
        opacity: 1;
        animation: open-top-bar 250ms ease forwards running;
    }

    @keyframes open-top-bar {
        0% {
            transform: rotate(45deg) translateX(5px) translateY(5px);
        }

        100% {
            transform: rotate(0deg) translateX(0px) translateY(0px);
        }
    }

    .mobile-bar .menu-button.open span:last-child {
        opacity: 1;
        animation: open-bottom-bar 250ms ease forwards running;
    }

    @keyframes open-bottom-bar {
        0% {
            transform: rotate(-45deg) translateX(5px) translateY(-5px);
        }

        100% {
            transform: rotate(0deg) translateX(0px) translateY(0px);
        }
    }

    .home {
        padding-bottom: 80px;
    }


    .home .logo span {
        font-size: 30px;
    }

    .home .intro p {
        font-size: 15px;
    }

    .home .get-started {
        padding: 20px 0px 0px 0px;
    }

    .home .get-started button {
        padding: 10px 30px;
        font-size: 13px;
        border-radius: 20px;
    }

    .event .background {
        height: 250px;
    }

    .event>.title h1 {
        font-size: 30px;
    }

    .event>.title {
        top: 130px;
    }

    .event>.title p {
        font-size: 20px;
        color: var(--text-color);
    }

    .event,
    .why,
    .benefits,
    .future-events,
    .code-of-conduct {
        background: var(--darker-blue);
        width: 100%;
        padding: 20px 10%;
    }

    .event .content .title,
    .why>.title h1,
    .benefits>.title h1,
    .future-events>.title h1,
    .code-of-conduct>.title h1 {
        font-size: 35px;
    }

    .code-of-conduct>.title p {
        font-size: 14px;

    }

    .code-of-conduct .code {
        padding: 20px;
    }

    .event .content .learn h1 {
        font-size: 20px;
        padding-top: 10px;
    }

    .event .content .learn p {
        font-size: 13px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .event .content .learn,
    .event .content .learn:last-child {
        padding: 15px;
        width: 100%;
    }

    .benefits .items .item .icon {
        width: 15%;
    }

    .benefits .items .item {
        width: 100%;
        float: none;
        padding: 25px 30px;
        margin-bottom: 25px;
        margin: 20px 0%;
    }

    .benefits .items .item:first-child {
        margin-right: 0%;
    }

    .benefits .items .item:last-child {
        margin-left: 0%;
    }

    .benefits .items .item .icon {
        display: inline-block;
        float: none;
    }

}
