header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  /*background: linear-gradient(0deg,#ff6a00,#ee0979);*/
  /*background-repeat: no-repeat;*/
  /*background-position: 50%;*/
  /*background-attachment: scroll;*/
  /*background-size: cover;*/
}

.devfest {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

